.dp__calendar_wrapper {
	--dp-primary-color: #{$primary};

	.dp__active_date, .dp__range_start, .dp__range_end {
		@extend .btn;
		@extend .btn-secondary;
		display: flex;
	}
}

.dp__input {
	@extend .form-control;
	background: $white !important;
	font-size: 14px !important;
}

.dp__action_buttons {
	.dp__action {
		padding: .25rem !important;
		margin-left: .25rem !important;

		&.dp__cancel {
			@extend .btn;
			@extend .btn-primary;
		}

		&.dp__select {
			@extend .btn;
			@extend .btn-primary;
		}
	}
}
