.confirmation-modal {
  .modal-header {
    padding-top: 10px;
    padding-bottom: 10px;

    h5 {
      margin: 0;
      font-size: 18px;
    }
  }

  .modal-footer {
    padding-top: 0;
    border-top: none;
  }
}
