.nav-tabs {
	.nav-item {
		.nav-link {
			font-family: $font-family-base;
			line-height: 1;
			font-size: $default-font-size;
			color: $black;
			text-align: center;
			display: flex;
			i {
				margin-right: 5px;
			}
		}
	}
}

.tab-content {
	font-family: $font-family-base;
	font-size: $default-font-size;
	line-height: 1.71;
}

.tab-basic {
	border-bottom: none;
	margin-bottom: 5px;

	.nav-item {
		margin-right: 30px;

		.nav-link {
			color: $text-muted;
			padding: 0 0 7px;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 2px solid $white;
			margin-bottom: 20px;

			&.active {
				border-top: none;
				border-right: none;
				border-left: none;
				border-bottom: 2px solid $primary;
				color: $primary;
				font-weight: 600;
			}
		}
	}
}

.tab-content-basic {}
