html, body, #app {
  min-height: 100%;
  background: $content-bg-main;
}

body,
html {
  padding-right: 0 !important;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: $base-dark;
  color: #fff;
}

::-moz-selection {
  background: $base-dark;
  color: #fff;
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
  overflow: auto !important;
}

a {
  color: $base;
}

a:hover,
a:active,
a:focus {
  color: $base-dark;
}

.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-font {
  font-family: 'BankGothic', serif;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: -2px;
}
