.mx-2px {
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.btn-icon {
    padding: 0.3134rem .6rem;

    .mdi {
        font-size: 1.15rem;
    }
}

.invalid-feedback {
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}
